.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

img[src=""] {
    display: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar{
  border-radius: 0px 0px 0px 20px;
}
.navbar-mine {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  background-color: #ffa96a;
  right: 200px;
  /* width: 30%; */
  padding-left: 70px;
  padding-right: 70px;
  border-radius: 0px 0px 70px 70px;
  position: absolute;
  z-index: 1000;
}

.hamburger-nav-bar {
  display: none;
}

.home-create-button {
  bottom: -50%;
  position: absolute;
  left: 35%;
  padding-left: 40px;
  padding-right: 40px;
  background-color: white;
  border: #ff913a solid 2px;
  border-radius: 40px;
  font-family: Charlie;
  font-weight: 400;
  font-size: 40px;
  color: #ff913a;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
}

.home-create-button-bottom {
  padding-left: 40px;
  padding-right: 40px;
  background-color: white;
  border: #ff913a solid 2px;
  border-radius: 40px;
  font-family: Charlie;
  font-weight: 400;
  font-size: 40px;
  color: #ff913a;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
}

.create-shirt-svg-container {
  width: 500px;
  height: 600px;
}

.home-create-button-bottom:hover {
  background-color: #ff913a;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: white;
}

.home-create-button:hover {
  background-color: #ff913a;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: white;
}

.home-welcome-container {
  position: absolute;
  top: 17vw;
  left: 45%;
  font-size: 20px;
  width: 25vw;
  height: 16vw;
  padding: 5px;
  z-index: 2;
}

.home-welcome-header {
  text-align: center;
  font-family: Charlie;
  font-weight: 800;
  font-size: 100px;
  color: #ff913a;
}

.home-welcome-subtext {
  text-align: center;
  font-family: Charlie;
  font-weight: 400;
  font-size: 40px;
}

.home-create-button-mobile{
  display: none;
  margin: 10px 0px 10px 0px ;
  padding-left: 40px;
  align-self: center;
  padding-right: 40px;
  background-color: white;
  border: #ff913a solid 2px;
  border-radius: 40px;
  font-family: Charlie;
  font-weight: 400;
  font-size: 40px;
  color: #ff913a;
}

.navbar-list {
  display: flex;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

.navbar-item {
  margin-right: 20px;
}

@media (max-width: 600px) {
  .navbar-list {
    /* flex-direction: column; */
    align-items: center;
  }

  .navbar-item {
    margin-bottom: 10px;
  }
}

.create-button-selected {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: orange;
  transition: color 1s;
  cursor: pointer;
}

.main-create-container {
  display: flex;
  justify-content: center;
  width: 70%;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-top: 100px;
  min-height: 100vh;
}

.create-page-headers {
  display: flex;
  width: 30%;
  min-width: 200px;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 30px;
}

.display-window-image-card {
  position: relative;
  width: 300px;
  height: 300px;
  cursor: pointer;
  margin-bottom: 10px;
}

.display-window-image-container {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.display-window-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.display-window-image:hover {
  transform: scale(1.05);
}

.display-window-image-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 8px;
  text-align: center;
  font-weight: bold;
}

.create-button {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: grey;
  transition: color 0.5s;
  cursor: pointer;
}
.create-button:hover {
  color: orange;
}

.fade-in-right {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fade-in-right.visible {
  opacity: 1;
  transform: translateX(0);
}

.fade-in-right.hidden {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.background-div {
  width: 400px;
  height: 600px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.shirt-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.overlay-image {
  width: 100%;
  height: 100%;
  object-fit:cover;
  pointer-events: none;
}

.cover-form-container {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.inner-form-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.inner-form-sub-container {
  width: 40%;
  min-width: 200px;
  display: flex;
  flex-direction: column;
}

.cover-form-prompt {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.cover-form-prompt span {
  font-weight: bold;
  margin-right: 10px;
}

.cover-form-prompt button {
  background-color: transparent;
  border: none;
  padding: 5px 10px 5px 10px;
  margin-right: 10px;
  border-radius: 10px;
  color: #333;
  font-weight: bold;
  border: #ff913a solid 2px;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.cover-form-prompt button:hover {
  background-color: orange;
}

.text-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
}

.powered-by-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* height: 200px; */
  width: 50%;
  padding: 40px 0px 40px 0px;
  justify-content: space-between;
}

.generate-button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.generate-button:hover {
  background-color: orange;
}

.picture-overlay-inner {
  padding: 15px;
  width: '70%';
  min-width: 350px;
  height: 30vw;
  min-height: 200px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.inner-container {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

.main-logo-image {
  object-fit: revert;
  position: absolute;
  top: 0;
  left: 37.5%;
  width: 25%;
  min-width: 350px;
  align-self: center;
}

.inner-image {
  width: 50%;
  min-width: 150px;
  height: 50%;
  margin-right: 10px;
  pointer-events: none;
}

.inner-text-input {
  /* flex-grow: 1; */
  padding: 10px;
  width: 150%;
  min-width: 150px;
  height: 25vw;
  min-height: 150px;
  border: 0px solid #ccc;
  font-size: 20px;
  border-radius: 4px;
  resize: vertical;
  margin-left: 10px;
}

.dropdown {
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid gainsboro;
  padding: 5px 0px 5px 0px;
  text-align: center;
  margin-bottom: 10px;
  background-color: white;
}

.poem-dropdown-description {
 
}

.shirt-generated-image-container {
  position: absolute;
   top: 100px;
   height: 300px;
  width: 500px;
  display: flex;
  justify-content: center
}

.phone-case-generated-image-container{
  position: absolute;
  top: 30px;
  height: 440px;
  width: 500px;
  display: flex;
  justify-content: center
}

.shirt-generated-image-inner-div {
  width: 250px
}

.phone-case-generated-image-inner-div {
  width: 250px
}

.Dropdown-menu .Dropdown-option{
  padding: 3px 20px 3px 20px;
  border-radius: 10px;
  color: grey;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.Dropdown-menu .Dropdown-option:hover{
  background-color: grey;
  color: orange;
  /* transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; */
}

.navbar-text {
  font-size: 70px;
  font-weight: 400;
  font-family: Alexander;
  color:white;
  text-decoration: none;
  transition: color 0.3s ease, background-position 0.3s ease;
}

.navbar-text:hover {
  color: black;
  background-position: 100% 50%;
}

.color-picker .react-colorful{
  width: 100px;
  height: 100px
}

.cover-side-options {
  position: absolute;
  right: -100px;
  width: 300px;
  padding-left: 10px
}


.inner-side-options {
  position: absolute;
  right: -200px;
  width: 200px;
  padding-left: 10px;
}

.nav-bar-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background-color: #ffa96a;
  z-index: 10;
}

.footer {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
  border-top: #ff913a solid 3px;
}

.side-image-removing {
  position: absolute;
  right: 0;
  transform: scaleX(-1);
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Allows interaction with elements beneath the overlay */
}

.footer-content {
  max-width: 600px;
  margin: 0 auto;
}

.home-carousel {
  width: 400px
}

@media(max-width: 1450px) {
  .home-welcome-header {
    font-size: 70px;

  }
  .navbar-mine{
    right: 0px;
  }
  
  .home-welcome-subtext {
    font-size: 30px;
}
.home-create-button{
  font-size: 22px;
}
}

@media(max-width: 500px) {
  .home-welcome-subtext {
    display: none;
}
.main-logo-image{
  min-width: 200px;
}
}

@media(max-width: 1100px){
  .main-logo-image{
    position: relative;
    left: 0;
  }
  
  .main-create-container{
    padding-top: 60px;
  }
}


@media(max-width: 1010px) {
  .home-welcome-header {
    font-size: 50px;

  }
  
  .home-welcome-subtext {
    font-size: 20px;
}
.home-create-button{
  display: none;
}
.home-create-button-mobile {
  display: inline;
}
}

@media(max-width: 570px) {
  .home-welcome-header {
    font-size: 30px;
  }
  .home-welcome-subtext {
    font-size: 12px;
}
}

@media (max-width: 1240px) {
  .cover-side-options {
    position: relative;
    right: auto;
    width: 300px;
  }
  .inner-side-options {
    position: relative;
    right: auto;
    width: 200px;
    margin-top: 10px;
  }
  .color-picker .react-colorful {
    width: 200px;
  }
  .cover-form-container{
    width: 90%;
  }
  .cover-side-options{
    margin-top: 10px;
  }
}

@media (max-width: 924px){
  .inner-form-container {
    flex-direction: column;
    align-items: center;
  }
  .inner-form-sub-container {
    width: 100%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  .main-create-container {
    width: 100%;
  }
  .background-div {
    width: 200px;
    height: 275px;
  }
  .navbar-mine{
    display: none;
  }
  .hamburger-nav-bar{
    display:block;
    position: absolute;
    background-color: #ff913a;
    right: 0px;
    padding-left: 20px;
    border-radius: 0px 0px 0px 20px;
  }
  .side-image-removing {
    display: none;
  }
  .home-carousel {
    width: 200px
  }
  .create-shirt-svg-container {
  width: 300px;
  height: 350px;
}
  .shirt-generated-image-container {
   top: 70px;
   height: 175px;
  width: 300px;
}
.phone-case-generated-image-container{
  top: 15px;
  height: 270px;
  width: 300px;
}
  .shirt-generated-image-inner-div {
    width: 125px
  }
  .shirt-generated-image-inner-div {
    width: 140px
  }
}
